.container {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content; /* What this does is that it makes the width of the button as wide as the content inside it. */
  color: white;
}
